body{
  margin: 0;
  padding: 0;
}

#sunny{
  background-image: url("../assets/img/sunny-day.jpg");
  background-size: cover;
  height: 125vh;
  /*background-repeat: no-repeat;*/
}

.cat1{
  text-align: center;
}
.medium{
  margin-top: 30%;


}


/*

@media(min-width:535px) and (max-width:824px){/*modificamos el ancho de nuestra web y se ajusta la pantalla*/
/*  [class*="col-"]{
    width: 100%;
  }
  body{
  background-color:black;
  color:white;
  }
  .img{
      border:6px solid white;
      content: url(../img/plaza_de_armas.jpg); /*para cambiar el tamaño una imagen con media usamos content*/
    }
}
/*
@media(min-width:200px) and (max-width:534px){
  [class*="col-"]{
    width: 100%;
  }
  body{
    background-color: #07B399;
    color:#DFDFDF;
  }
  .img{
    display: none;
  }
}
